[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = http://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = http://github.com/vim-scripts/vimwiki.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/genutils"]
	path = vim/bundle/genutils
	url = http://github.com/vim-scripts/genutils
[submodule "vim/bundle/vim-perforce"]
	path = vim/bundle/vim-perforce
	url = http://github.com/pydave/vim-perforce.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = http://github.com/sjl/badwolf.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = http://github.com/bling/vim-airline.git
