[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = http://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = http://github.com/vim-scripts/vimwiki.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/genutils"]
	path = vim/bundle/genutils
	url = http://github.com/vim-scripts/genutils
[submodule "vim/bundle/vim-perforce"]
	path = vim/bundle/vim-perforce
	url = http://github.com/pydave/vim-perforce.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/ctags.vim"]
	path = vim/bundle/ctags.vim
	url = http://github.com/vim-scripts/ctags.vim.git
[submodule "vim/bundle/vim-bufsurf"]
	path = vim/bundle/vim-bufsurf
	url = https://github.com/ton/vim-bufsurf.git
[submodule "vim/bundle/railscasts"]
	path = vim/bundle/railscasts
	url = https://github.com/dhruvasagar/vim-railscasts-theme.git
[submodule "vim/bundle/vim-sneak"]
	path = vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
